body{
    background: linear-gradient(to left, #240b36, #c31432); 
    background-attachment: fixed;
}

.js-list{
    list-style: none;
    padding: 0;
}

.el-item{
    position: relative;
    width: 220px;
    padding: 20px 0 0 0;
    background-color: #2d2d2dc7;
    border-radius: 8px;
}

.el-link{
    text-decoration: none;
    color: inherit;
}

.el-img{
    margin: 0 10px;
    width: 200px;
    height: 300px;
}


.el-title{
    margin-top: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1818189f;
    opacity: 0.8;
    padding: 0 10px;
    transition: all .3s ease;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.el-title:hover{
    opacity: 1;
}

.el-year{
    position: absolute;
    top: 20px;
    left: 10px;
    color: #fff;
    padding: 0 5px;
    border-radius: 0 0 2px 0;
    background-color: #c7334c;
}

.btn-next-prev{
    margin-top: 20px;
    width: 220px !important;
    display: flex;
    justify-content: space-between;
}

.js-prev,
.js-next{
    width: 45%;
}